html,
body {
  margin: 0;
  padding: 0;
  background: #faf9f5;
}
a {
  color: #8a744f;
  text-decoration: none;
}
a:hover {
  color: #6d5a3c;
  text-decoration: underline;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d5d3cb;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
